{% assign block_settings = block.settings %}

<div 
  class="delivery-block spacing-style"
  style="
    {% render 'spacing-style', settings: block_settings %}
  "
  {{ block.shopify_attributes }}
>
  
  {% if block_settings.icon %}
    <img 
      src="{{ block_settings.icon | image_url: width: 48 }}" 
      alt="icon"
      class="delivery-icon"
    >
  {% endif %}

  <div class="delivery-content">

    <div class="delivery-title">
      <strong>{{ block_settings.title }}</strong>
      <span>{{ block_settings.date }}</span>
    </div>

    <div class="delivery-description">
      {{ block_settings.description }}
    </div>

    {% if block_settings.link_text != blank %}
      <a href="{{ block_settings.link }}" class="delivery-link">
        {{ block_settings.link_text }}
      </a>
    {% endif %}

  </div>
</div>

<style>
    .delivery-block {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-family: 'Jost', sans-serif;
}

.delivery-icon {
  max-width: 24px;
  height: auto;
  margin-top: 2px;
}

.delivery-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.delivery-title {
  font-size: 14px;
  line-height: 150%;
}

.delivery-title strong {
  font-weight: 500;
  color: #121212;
}

.delivery-title span {
  font-weight: 400;
  color: #272A4C;
}

.delivery-description {
  font-size: 14px;
  line-height: 150%;
  color: #737373;
}

.delivery-link {
  font-size: 14px;
  line-height: 150%;
  color: #272A4C;
  text-decoration: underline;
}

.delivery-link:hover {
  opacity: 0.7;
}
</style>

{% schema %}
{
  "name": "Estimated Delivery",
  "tag": null,
  "class": "delivery",
  "settings": [
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icono"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Título",
      "default": "Estimated Delivery:"
    },
    {
      "type": "text",
      "id": "date",
      "label": "Fecha",
      "default": "May 14, 2026"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Descripción",
      "default": "Each ring is made to order and finished by hand. Fully insured express shipping included."
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Texto link",
      "default": "Need it sooner? Priority production may be available."
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },

    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Estimated Delivery"
    }
  ]
}
{% endschema %}